body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

/* The parallax Effect */
.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}
.parallax-logo {
  position: relative;
  left: 60vw;
  max-height: 10vh;
  max-width: 30vw;
  width: auto;
  border: solid 5px white;
  box-shadow: 0px 0px 20px;
}
.parallax1{
  background-image: url('img/utc.jpg');
}
.parallax2{
  background-image: url('img/gatech.jpg');
}
.parallax3{
  background-image: url('img/utseus.jpg');
}
.parallax4{
  background-image: url('img/ubisoft.jpg');
}
.parallax5{
  background-image: url('img/snecma.jpg');
}

/* Each part where actual content can be written is a textbox*/
.textbox{
  background-image: url('img/texture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 400px;
  z-index:1;
}

.left {
  display: inline-block;
  vertical-align: top;
  margin-left: 5vw;
}

.right {
  display: inline-block;
  vertical-align: top;
}

.item {
  font-size: 120%;
  margin-bottom: 20px;
}

.date {
  display: inline-block;
  vertical-align: top;
  margin-right: 5vw;
  width: 105px;
}

.itemdata {
  display: inline-block;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

/* The picture on the first textbox */
#photo {
  display: inline-block;
  position: relative;
  left: 10%;
  max-height: 80%;
  width: 15%;
  padding: 20px;
}

#photo img {
  height: 90%;
  max-height: 30vh;
  width: auto;
  margin-left: auto;
  border: solid 5px white;
  box-shadow: 0px 0px 20px;
}

/* Name & Diploma */
#header {
  display: inline-block;
  position: relative;
  left: 150px;
  top: -10%;
  width: 50%;
  font-size: 130%;
}